:root{
    /*COLORS*/
    --color-primary: #FFA800;
    --color-secondary: #BB0000;
    --color-terciary: #89BD54;
    --color-text-dart: #444444;
    --color-text-light: #EEEEEE;

    /*padding*/

}
